@function num($n){
	@return $n/20;
}
html,body{
	height:100%;
}
*{
	padding:0;
	margin:0;
}
#header{
	height:num(38rem);
	width:100%;
	line-height:num(38rem);
	background:#fafafa;
	border:num(1rem) solid #ddd;
	box-sizing:border-box;
	position:relative;
	img{
		height:num(20rem);
	    width:num(20rem);
        margin-top:num(7rem);
        margin-left:num(15rem);
        float:left;
	}
	.p1{ 
        font-size:num(14rem);
        font-weight:bolder;
        color:#5e5e5e; 
        text-align:center;
        margin-right:num(35rem);
	}
	.p2{
		font-size:num(14rem);
		position:absolute;
		right:num(2rem);
		top:0;
		color:#5e5e5e; 
	}
}
#center{
	    height:100%;
		width:100%;
		border:num(1rem) solid #ddd;
		box-sizing:border-box;
		text-align:center;
	.p3{	
		margin-top:num(28rem);
		font-size:num(13rem);
		color:#666;
	}
	#inp1{
		height:num(40rem);
		width:90%;
		margin-top:num(15rem);
		font-size:num(19rem);
		text-align:center;
		background:#fff;
		opacity:0.2;
		filter:alpha(opacity=20);
        border:none;
        outline:none;
        border-bottom:num(1rem) solid #999;
        color:#666;
    }
    .p4{
    	margin-top:num(19rem);
		font-size:num(11rem);
		color:#666;
    }
    #inp2{
	    height:num(40rem);
		width:90%;
		margin-top:num(15rem);
		font-size:num(19rem);
		text-align:center;
		background:#fff;
		opacity:0.2;
		filter:alpha(opacity=20);
        border:none;
        outline:none;
        border-bottom:num(1rem) solid #999;
        color:#666;
	}
    #btn{
    	height:num(42rem);
    	width:90%;
    	margin:0 auto;
        margin-top:num(20rem);
    	border-radius:num(4rem);
        background:#ff1877;
        line-height:num(42rem);
        text-align:center;
        font-size:num(14rem);
        color:#fff;
        border:none;
        outline:none;
    }    
	.d1{
		width:90%;
		margin:0 auto;
		height:num(13rem);
		margin-top:num(16rem);
		.p5{
            float:left;
            font-size:num(13rem);
            color:#666;
		}
		.p6{
            float:right;
            font-size:num(13rem);
            color:#ff1877;
		}
	}
	.d2{
		height:num(20rem);
		width:40%;
		margin-top:num(42rem);
		margin-left:num(24rem);
		border-top:num(1rem) solid #ededed;
		border-bottom:num(1rem) solid #ededed;
		span{
			float:right;
			margin-top:num(-15rem);
			margin-right:num(-25rem);
			color:#ededed;
		}
	}
	img{
		margin-top:num(14rem);
      	height:num(120rem);
      	width:num(120rem);
    }
}